@import url('https://fonts.googleapis.com/css2?family=Oi&family=Orbitron:wght@400..900&family=UoqMunThenKhung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Orbitron:wght@400..900&family=Recursive:wght@300..1000&family=UoqMunThenKhung&display=swap');

body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: white;
    font-size:80px;
    margin: 100px;
    height: 100px;
    text-align:center;
    font-family:Orbitron;
}
li{
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-right: auto;
}
li:hover{
    color: #00FF00;
    background-color: rgb(34, 110, 27);
    cursor: pointer;
    border-radius: 15px;
    transform: scaleX(1.2);
    transform: scaleY(1.2);
}
#logo{
    text-align: center;
    background-position: center;
    width: 50%;
    height: 262px;
}
#logo-img{
    /* tamanho */
width: 100px;
height: 100px;
background-position: center;
margin: auto;
}
#caixa-verde{
  width: 12px;
  height: 30px;
  margin: 20px auto;
  /* Margem estra */
  padding: 20px;
}
/* ESTIIZAR classe */
.mini-caixa{
    font-size: 35px;
  text-align: center;
  width: 30%;
  height: 100%;
  /* Deixar as coisas na mesma linha */
  display: inline-block;
}
#inicio{
     font-family:Orbitron;
     color: white;
     display: inline-block;
     text-align:end;
     display: inline
}
/* Cabeçario */
h3{
    color: #00FF00;
    font-family: Recursive;
}
#um{
    color: #54CD54;
}
#t{
    color: rgb(255, 255, 255);
}
#dois{
    color: #54CD54;
}
#t2{
    color: rgb(255, 255, 255);
}
#video{
    background-image: url("https://media1.tenor.com/images/9b653efc32230259dc6d8fe95a97b83c/tenor.gif?itemid=12443085");
    width: 70%;
    height: 250px;
      background-repeat: no-repeat;
      margin:auto;
      background-position:right;
}
#pag{
    color: #00FF00;
    background-position:right;
    text-align: right;
}
table{
    color: #00FF00;
    border: #ffffff;
   
}
#um1{
    color: #54CD54;
    text-align:left;
}
.perg1{
    color: rgb(255, 255, 255);
    text-align:left;
}
h6{
    font-size: 15px;
    color: #00FF00;
}
h7{
     font-size: 15px;
}
#um11{
    color: #54CD54;
    text-align:left;
}
.perg11{
    color: rgb(255, 255, 255);
     text-align:left;
}
img{
    width: 150px;
    height: 150px;
}
p{
    color: #ffffff;
    font-family: Recursive;
    text-align:left;
}
h5{
    color: #00FF00;
    font-family: Recursive;
}
h4{
    color: #00FF00;
    font-family: Recursive;
    text-align: end;
}
#block{
    background-color: rgb(218, 214, 22);
}
#quad1{
    background-color: rgb(32, 141, 141);
     flex-shrink: 1;
     width: 50%;
     height: 200px;
}
#quad2{
    background-color: blueviolet;
    flex-grow: 1;
    width: 50%;
    height: 100%;
}
.quad{
    width: 200px;
    height: 200px;
    /* Line-height deixa no centro verticalmente */
    line-height: 200px;
    /* display: inline-block; */
}
#inline-block{
    background-color: aquamarine;
    display: inline-block;
    width: 100%;
}
#flex{
    background-color: rgb(0, 132, 255);
    display: flex;
    width: 100%;
    height: 100%;
    /* min-height: 100%; */
    padding: 5px;
    /* flex-wrap: wrap; */
    /* Espaço entre os itens da tabela */
    gap: 20px;
    /* flex-direction: column; */
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
.p1{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.resultado{
    color: #54CD54;
}
h2{
    color: #00FF00;
     font-size: 15px;
}
#pai{
    display: flex;
    width: 100%;
    
}
#pergunta1{
    width: 50%;
}
#pergunta2{
    width: 50%;
}